{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% trans_default_domain 'EasyAdminBundle' %}

{% if field.formattedValue is same as(true) %}
    <span class="badge text-bg-success text-white">
        {{ 'label.true'|trans }}
    </span>    <span class="badge"></span>
{% elseif field.formattedValue is same as(false) %}
    <span class="badge text-bg-danger">
        {{ 'label.false'|trans }}
    </span>
{% else %}
    <span class="badge text-bg-light">
        {{ 'Error'|trans }}
    </span>
{% endif %}
